/* @import url(./chosen-dark.css) (prefers-color-scheme: dark); */
/* @import url(./chosen.min.css); */

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 90%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    /* .row {
        flex-direction: row;
    } */
}

.loaded {
    /* border: 1px solid red; */
    
    max-width: 800px;
    width: 100%;
    /* float: center; */
    /* display: block; */
    position: relative;
    pointer-events: none;
}

body.dark-theme{
    background: #000000;
    color: #eee;
}
/* .row {
    display: flex;
    flex-wrap: wrap;
} */

/* .aabtn {
    flex: 4%;
}

.0 {
    flex: 96%;
} */

/* Regex CSS */
[class*="s2a"] {
    visibility: hidden;
}

.clippy_board {
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.clipimg {
    height: 20px;
    width: 20px;
}